{% extends "base.html" %}

{% block content %}
  <h1>
    {{ newspaper.title }}
    <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p><strong>Topic:</strong> {{ newspaper.topic.name }}</p>

  <div class="ml-3">
    <h3>Publishers</h3>

    {% for publisher in newspaper.publishers.all %}
      <hr>
      <p class="text-muted"><strong>Id:</strong> {{ publisher.id }}</p>
      <p>
        <strong>Full name:</strong>
        {{ publisher.first_name }} {{ publisher.last_name }}
      </p>
    {% empty %}
      <p>No drivers!</p>
    {% endfor %}
    {{ newspaper.content }}
  </div>
{% endblock %}